* {
    margin: 0;
    padding: 0;
}

.displayArea {
    display: grid;
    height: 100%;
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.resize_fit_center {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    z-index: 0;
}

.map_overlay {
    z-index: 1;
}