.dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  position: absolute;
  margin: 0 auto;
  top: 50;
  left: 50;
  z-index: 2;
}

.popup {
  text-align: center;
  font-size: 12pt;
  background: white;
}

.popup_container {
  color: black;
  background: transparent;
  border-color: transparent;
}