.chat-container-button {
  background: #434651;
  color: white;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 2;
}

.maximize-icon {
  width: 30px;
  height: 30px;
}

.chat-container-button-text {
  display: flex;
  position: relative;
  text-align: center;
}

.chat-container {
  margin: 0 auto;
  width: 500px;
  background: #444753;
  border-radius: 5px;
  float: left;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 2;
}

.people-list {
  width: 150px;
  height: 460px;
  float: left;
}
