* {
    margin: 0;
    padding: 0;
}
.displayArea {
    position: fixed;
    display: grid;
    height: 100%;
    width: 100%;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
img.background {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.svg_background {
    z-index: 0;
}