.search {
    margin: 5px;
    width: 150px;
    height: 25px;
    font-size: 9pt;
    background: #434651;
}

.minimize {
    width: 30px;
    height: 30px;
}

.chat-button-center {
    background: #434651;
    color: white;
    display: flex;
    border-color: transparent;
}