
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: red;
    font-size: 20px;
}
/* Popup container */
/* The actual popup (appears on top) */
.popup .popuptext {
    word-wrap: break-word;
    visibility: hidden;
    width: 160px;
    background-color: rgba(85,85,85,0.9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Popup arrow */
/*.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}